/* Space out content a bit */

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}


/* Custom page header */

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}


/* Custom page footer */

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}


/* Customize container */

@media (min-width: 48em) {
  .container {
    max-width: 73rem;
  }
}

.container-narrow>hr {
  margin: 2rem 0;
}

h4.card-header {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  color: #5E5E5F;
}

p.card-text {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  color: #6b7c93;
}

a.btn.btn-primary:hover {
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

a.btn.btn-primary--default {
  color: #fff;
  background: #6772e5;
}


/* Main marketing message and sign up button */

h1.display-3 {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  color: #32325d;
}

.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  /*background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, 0.4)), url("/img/burning.jpg");*/
  /*background-size: cover;*/
}

div.jumbotron {
  background: rgba(236, 240, 245, 0.68);
}

a.btn.btn-lg.btn-success {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

a.btn.btn-lg.btn-success {
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: #fff;
  border-radius: 4px;
  border-color: ivory;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}

a.nav-link.active,
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #43458b;
}


}

}
.jumboheader {
  color: #3274ff
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}
.btn-primary {
  color: #fff;
  background-color: #6772e5;
  border-color: #6772e5;
}
.btn-primary:hover {
  color: #fff;
  background-color: #7795f8;
  border-color: #7795f8;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p+h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}